html {
    height: 100%;
}

body {
    height: inherit;
    background: #128aa7 linear-gradient(to bottom, #41c6d3, #0c739f) 0 175px no-repeat;
    font-family: Tahoma, serif;
    font-size: 12px;
}

/* Background line */

body::before {
    position: absolute;
    top: 28px;
    width: 100%;
    height: 146px;
    border-top: 1px solid #5ef0ff;
    background: #5ef0ff url('../img/bg-gradient.png') repeat-x;
    content: '';
    z-index: -2;
}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    content: '.';
    visibility: hidden;
}

/* Wrapper & Header */

.wrapper {
    position: relative;
    max-width: 1000px;
    height: inherit;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: -.5px 13px 8px 0 rgba(0, 0, 0, .38), .5px 13px 8px 0 rgba(0, 0, 0, .38);
    box-shadow: -.5px 13px 8px 0 rgba(0, 0, 0, .38), .5px 13px 8px 0 rgba(0, 0, 0, .38);
}

header {
    position: relative;
    width: 100%;
    height: 175px;
    border-bottom: 1px solid #128aa7;
}

/* Logo */

figure {
    position: absolute;
    bottom: -3px;
    left: 28px;
}

aside {
    position: absolute;
    top: 11px;
    right: 33px;
}

aside h1 {
    font-weight: bold;
}

/* Contacts */

.contact {
    width: 100%;
    font-size: 12px;
    line-height: 19px;
}

.contact div {
    float: right;
}

/* Countries buttons in header */

.countries ul li {
    margin: 30px 14px 0 0;
    float: left;
    font-size: 10px;
    text-align: center;
}

aside,
aside a {
    color: #128aa7;
}

/* Image */

.photo {
    height: 235px;
    border-bottom: 1px solid #138aa7;
}

.photo img {
    width: 100%;
    height: 100%;
}

/* Navigation */

nav {
    position: relative;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000;
    background-image: linear-gradient(to bottom, #373737, #303030);
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    z-index: 3;
}

.menu li {
    position: relative;
    float: left;
}

.menu a {
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
}

.menu > li:nth-child(1) {
    width: 175px;
    text-align: center;
}

.menu > li:nth-child(2) {
    width: 150px;
}

.menu > li:nth-child(2)::after {
    position: absolute;
    top: 1px;
    margin-left: 6px;
    font-size: 8px;
    content: '▼';
}

.menu > li:nth-child(3) {
    width: 120px;
}

.menu > li:nth-child(3)::after {
    position: absolute;
    top: 1px;
    margin-left: 9px;
    font-size: 8px;
    content: '▼';
}

.menu > li:nth-child(4) {
    width: 136px;
}

.menu > li:nth-child(4)::after {
    position: absolute;
    top: 1px;
    margin-left: 8px;
    font-size: 8px;
    content: '▼';
}

.menu > li:nth-child(5) {
    width: 187px;
}

.menu > li:nth-child(6) {
    width: 99px;
}

/* Submenu */

.submenu {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: inherit;
    border-top: 1px solid #000;
    background-image: inherit;
}

.submenu > li {
    width: inherit;
    background-color: #303030;
}

.submenu li a {
    text-decoration: inherit;
}

.menu > li:hover > .submenu {
    display: block;
}

/* Main content */
main {
    margin-bottom: 3px;
    color: #424c43;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

main p {
    padding-bottom: 9px;
}

main h1 {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

.flex-wrapper {
    display: inline-flex;
}

/* Three columns */

.left-col,
.right-col {
    width: 20.8%;
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;
    background: #edeef0;
}

.center-col {
    width: 58.4%;
}

/* Footer */

footer {
    position: absolute;
    width: 102%;
    margin-left: -1%;
    background: #1480a7;
    color: #fff;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
}
