body {  
	height: 146px;
    background: 
    linear-gradient(to bottom, #41c6d3, #0c739f)  0px 175px no-repeat;
    background-color: #128aa7;
    font-size: 12px;
    font-family: Tahoma, serif;
}

/* Фон бекграунд */

body:before {
	content: "";
	display: block;
	background-color: #5ef0ff;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 29px;
	z-index: -2;
}

body:after {
	content: "";
	position: absolute;
	top: 29px;
	display: block;
	background: linear-gradient(to bottom, #11cde1, #fff) 0 0 no-repeat;
	width: 100%;
	height: 146px;
	z-index: -3;
}

/* Обертка */

.wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}
.wrapper:before {
	content: "";
	position: absolute;
	z-index: -1;
	margin: 0 auto;
	width: 100%;
	height: 98.7%;
	display: block;
	-webkit-box-shadow: 
	0px 13px 9px 0px rgba(0, 0, 0, 1);
	box-shadow: 
	0px 13px 9px 0px rgba(0, 0, 0, 1);
}
.wrapper:after {
	content: "Copyright(C) asia-holidays.com. 2010";
	position: absolute;
	border-top: 3px solid black;
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
	padding-top: 9px;
	margin-bottom: 13px;
	z-index: 5;
}

header {
	position: relative;
	width: 100%;
	height: 175px;
	border-bottom: 1px solid #128aa7;
}

/* Логотип */

figure {
	position: absolute;
	left: 28px;
	bottom: -3px;
}

aside {
	position: absolute;
	top: 11px;
	right: 33px;
}

aside h1 {
	font-weight: bold;
}

/* Контактная информация */

.contact {
	font-size: 12px;
	line-height: 19px;
	width: 100%;
}

.contact div {
	float: right;
}

/* Кнопки стран в header */

.countries ul li {
	float: left;
	margin: 30px 14px 0 0; 
	text-align: center;
	font-size: 10px;

}

aside, aside a {
	color: #128aa7;
}

/* Изображение */

.photo {
	height: 235px;
	border-bottom: 1px solid #138aa7;
}

.photo img {
	height: 100%;
	width: 100%;
}

/* Навигация */

nav {
	position: relative;
	line-height: 28px;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid #000000;
	background-image: linear-gradient(to bottom, #373737, #303030);
	z-index: 3;
	font-size: 14px;
	color: #fff;
}

.menu li {
	position: relative;
	float: left;
}

.menu a {	
	text-decoration: none;
	color: inherit;
	margin-left: 10px;
}

.menu>li:nth-child(1) {
	width: 175px;
	text-align: center;
}

.menu>li:nth-child(2) {
	width: 150px;
}

.menu>li:nth-child(2):after {
	position: absolute;
	top: 1px;
	content: "▼";
	margin-left: 6px;
	font-size: 8px;
}

.menu>li:nth-child(3) {
	width: 120px;
}

.menu>li:nth-child(3):after {
	position: absolute;
	top: 1px;
	content: "▼";
	margin-left: 9px;	
	font-size: 8px;
}

.menu>li:nth-child(4) {
	width: 136px;
}

.menu>li:nth-child(4):after {
	position: absolute;
	top: 1px;
	content: "▼";
	margin-left: 8px;	
	font-size: 8px;
}

.menu>li:nth-child(5) {
	width: 187px;
}

.menu>li:nth-child(6) {
	width: 99px;
}

/* Submenu */

.submenu {
    display: none;
    position: absolute;
    width: inherit;
    top: 28px;
    left: 0;
    background-image: inherit;
    border-top: 1px solid black;
}

.submenu > li {
    background-color: #303030;
    width: inherit;

}
.submenu li a {
    text-decoration: inherit;
}

.menu > li:hover > .submenu {
    display: block;   
}

/* Main content */
main {
	text-align: center;
	color: #424c43;
	font-size: 14px;
	line-height: 24px;
}

main h1 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
}

.leftColumn, 
.centerColumn, 
.rightColumn, 
.fon1, 
.fon2, 
.fon3 {
	float: left;
	position: relative;
}

.fon1, 
.fon2, 
.fon3 {
	width: 100%;
	display: inline-flex;
}

.leftColumn, 
.centerColumn, 
.rightColumn {
	overflow: hidden;
	left:70%;
}

.fon1 {  
	right: 30%; 
}
.fon2 {
	right: 40%; 
}

.leftColumn, 
.rightColumn {
	width: 20.8%;
	background: #edeef0;
	border-left: 1px solid #c7cacf;
	border-right: 1px solid #c7cacf;
}
.centerColumn {
	width: 58.4%;
}

/* Очистка блоков */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
