html,
body {
    height: 100%;
    color: #fff;
    font-family: 'LeagueGothicRegular', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
}

body > *,
.top-slider,
.top-nav,
.articles__div,
.blog-testimonials,
.blog-recent__header {
    position: relative;
}

/* Limit block padding */

.limit-box {
    padding: 0 20px;
}

/* Hide blocks */

.hidden {
    display: none;
}

/* Pre wrap */

.pre {
    white-space: pre-line;       /* css-3 */
    white-space: -moz-pre-line;  /* Mozilla, since 1999 */
    white-space: -pre-line;      /* Opera 4-6 */
    white-space: -o-pre-line;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Underline */

.underline:after,
.underline_hover:hover:after {
    display: block;
    position: absolute;
    bottom: 4px;
    left: -6px;
    width: calc(100% + 12px);
    border-bottom: 2px solid #edbfff;
    content: '';
    z-index: 5;
}

.underline:hover:after {
    display: none;
}

/* Hyphens */

.hyphenate {
    visibility: visible;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* Wrapper for hide overflow text */

.wrapper {
    height: 100%;
    overflow: hidden;
}

/* Radio */

input[type=radio] {
    display: none;
}

.radio__ul {
    text-align: center;
}

.radio__li {
    display: inline-block;
}

.radio__label {
    position: relative;
    margin-right: 19px;
    cursor: pointer;
}

.radio__label:before {
    position: absolute;
    border-radius: 8px;
    content: '';
}

.radio__label_background_white:before {
    width: 11px;
    height: 11px;
    border: 3px solid rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .3) padding-box;
}

.radio__label_background_black:before {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(229, 229, 229, 1);
    background: rgba(255, 255, 255, 1) padding-box;
}

input[type=radio]:checked + .radio__label_background_white:before {
    background: linear-gradient(to bottom, #fdfdfd, #dedede) padding-box;
    content: '';
}

input[type=radio]:checked + .radio__label_background_black:before {
    background: linear-gradient(to bottom, #8a8a8a 1px, #7a7a7a 3px, #464646 100%) padding-box;
    box-shadow: inset 0 0 0 2px #fff;
    content: '';
}

/* Top menu border radius */

.border-radius_top {
    border-radius: 8px 8px 0 0;
}

.border-radius_bottom {
    border-radius: 0 0 8px 8px;
}

/* Text shadows */

.text-shadow_fff,
.text-shadow_fff_hover:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.articles_text-shadow {
    text-shadow: 1px 1px 0 #0f1518;
}

.text-shadow_black {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.text-shadow_black_bottom {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

/* Text colors */

.color_edbfff {
    color: #edbfff;
}

/* Top */

.top {
    padding: 68px 0 69px;
    border-bottom: 1px solid #36283c;
    background: url('../img/bg.jpg') no-repeat top center;
    color: #fff;
    z-index: 5;
}

.top__h3 {
    padding-bottom: 19px;
    font-size: 48px;
    letter-spacing: -.5px;
    text-align: center;
}

.top__span {
    background: linear-gradient(#745083, #33263a);
    color: transparent;
    text-shadow: none;
    -webkit-background-clip: text;
}

.top-nav {
    font-size: 24px;
    text-align: center;
}

.top-nav-menu__a_home,
.top-nav-submenu__a {
    width: 100%;
    line-height: 42px;
}

.top-nav-submenu__li:hover,
.top-nav-menu__a_home:hover {
    display: block;
    position: relative;
    width: calc(100% - 1px);
    background: rgba(0, 0, 0, .3);
    box-shadow: inset 0 -2px 0 0 #edbfff;
}

.top-nav-menu__li_home {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    z-index: 5;
}

.top-nav-menu__li_home:hover {
    width: 246px;
    margin-left: -123px;
    border: 1px solid rgba(3, 11, 15, .3);
    border-radius: 8px;
    background: rgba(54, 41, 62, .9);
}

.top-nav-menu__li_home:hover > .top-nav-submenu {
    display: block;
}

.top-nav-submenu__li {
    box-shadow: inset 0 1px 0 0 #35273d,
    inset 0 2px 0 0 #503d57;
}

.top-nav-submenu__li:hover {
    box-shadow: inset 0 -2px 0 0 #edbfff,
    inset 0 1px 0 0 #35273d,
    inset 0 2px 0 0 #503d57;
}

.top-slider .limit-box {
    height: 217px;
    margin-top: 80px;
}

.top-slider__header {
    height: 61px;
    margin-left: 29px;
}

.top-slider__p {
    width: 220px;
    height: 19px;
    font-size: 18px;
    letter-spacing: -.2px;
}

.top .radio {
    margin-left: 11px;
}

.top-slider__h3 {
    margin-top: 2px;
    font-size: 36px;
    letter-spacing: -.4px;
    line-height: 42px;
}

.top-slider__iPhone {
    display: none;
    position: relative;
}

.top-slider__arrows {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
}

.top-slider__arrows-link:before {
    display: block;
    width: 23px;
    height: 34px;
    background-image: url('../img/sprite.svg');
    background-size: 215px;
    content: '';
}

.arrow_left:before {
    background-position: -144px -10px;
}

.arrow_right:before {
    background-position: -181px -10px;
}

/* Articles */

.articles {
    padding: 70px 7px 41px 62px;
    background: linear-gradient(to bottom, #765284, #36293d);
    letter-spacing: -.2px;
    box-shadow: inset 0 -1px 0 0 #f9f9f9,      inset 0 -2px 0 0 #12191f,      inset 0 -3px 0 0 #21333b,      0 10px 10px -10px rgba(0, 0, 0, .3);
    z-index: 4;
}

.articles__div {
    height: 96px;
    margin-bottom: 61px;
    line-height: 24px;
}

.articles__div_item1:before,
.articles__div_item2:before,
.articles__div_item3:before {
    position: absolute;
    top: -2px;
    left: -50px;
    width: 32px;
    height: 30px;
    background: url('../img/sprite.svg') -7px -13px;
    background-size: 197px 135px;
    content: '';
}

.articles__div_item3 {
    margin-top: 16px;
}

.articles__h3 {
    font-size: 24px;
}

.articles__p {
    padding-top: 2px;
    font-family: 'OpenSansLight', sans-serif;
    letter-spacing: -.1px;
    text-indent: 1px;
}

.articles__a {
    padding-top: 17px;
    font-size: 18px;
}

.articles__a_float_right {
    float: right;
}

/* Blog */

.blog {
    padding: 69px 0 91px;
    background: #f9f9f9;
    color: #454545;
    box-shadow: inset 0 -1px 0 0 #fefefe,
    inset 0 -2px 0 0 rgba(229, 229, 229, 1);
}

.blog-testimonials {
    margin-bottom: 25px;
    padding: 27px 12px 26px 35px;
    background: #fff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.blog-box {
    margin-left: 24px;
}

.blog-box .blog-testimonials__p {
    max-height: 168px;
    margin-left: 3px;
}

.blog-box .radio {
    margin-left: 23px;
}

.blog-testimonials__img {
    position: absolute;
    top: 19px;
    left: -24px;
}

.blog-testimonials__h3 {
    margin-bottom: 3px;
    font-size: 24px;
}

.blog-testimonials__p {
    font-family: 'OpenSansLight', sans-serif;
    line-height: 24px;
}

.blog-recent {
    margin-top: 50px;
}

.blog-recent .blog-testimonials__p {
    width: 101%;
    height: 24px;
    margin-top: -4px;
    letter-spacing: -.1px;
}

.blog-recent__header {
    margin-left: 65px;
}

.blog-recent__header:before {
    display: block;
    position: absolute;
    left: -65px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: url('../img/blur.jpg') no-repeat;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .3);
    content: '';
}

.blog-recent__header_3 {
    padding-top: 6px;
}

.blog-recent__header_1:before {
    background-position: -112px -7px;
}

.blog-recent__header_2:before {
    background-position: -112px -73px;
}

.blog-recent__header_3:before {
    background-position: -153px -22px;
}

.blog-recent__li {
    margin-bottom: 18px;
}

.blog-recent__h3 {
    margin-bottom: 16px;
    font-size: 30px;
    letter-spacing: -.3px;
}

.blog-recent__a {
    height: 24px;
    margin-left: 2px;
    color: #454545;
    font-family: 'OpenSansExtrabold', sans-serif;
    letter-spacing: .7px;
    line-height: 24px;
}

.blog-recent__more,
.blog-recent__more_960 {
    top: 1px;
    left: -5px;
    color: #454545;
    font-size: 18px;
    letter-spacing: -.1px;
}

/* Manufacturers */

.manufacturers {
    padding: 51px 14px 24px;
    background: #f9f9f9;
}

.manufacturers__ul {
    line-height: 68px;
}

.manufacturers__li {
    display: inline-block;
    flex-basis: 48.536456%;
    margin-bottom: 23px;
    text-align: center;
    vertical-align: middle;
    -ms-flex-preferred-size: 48.536456%;
}

/* News categories */

.news-categories {
    padding: 82px 0 26px;
    background: #ececec;
    text-shadow: 1px 1px 0 #fff;
}

.news-categories__block {
    margin-bottom: 56px;
}

.news-categories__h3,
.news-categories__recent {
    margin-bottom: 19px;
    color: #454545;
    font-size: 24px;
}

.news-categories__p {
    color: #787878;
    font-family: 'OpenSansLight', sans-serif;
    font-size: 16px;
}

.news-categories__h3.hidden {
    display: block;
}

/* Footer */

.footer {
    width: 100%;
    height: 201px;
    padding: 42px 0 149px;
    background: url('../img/bgFooter.jpg') no-repeat top center;
    text-align: center;
    box-shadow: inset 0 10px 10px -7px rgba(0, 0, 0, .7);
    z-index: 1;
}

.footer-nav-menu__li {
    font-size: 20px;
}

.footer__p {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 12px;
}

.footer__span {
    font-family: 'OpenSansExtrabold', sans-serif;
    font-weight: 600;
    letter-spacing: .7px;
}

/* Media area */

@media(min-width: 480px) {
    .pre {
        white-space: normal;
    }

    /* Top */

    .top {
        padding-bottom: 62px;
    }

    .top-slider {
        height: 246px;
        margin-bottom: 22px;
        background: rgba(0, 0, 0, .3);
    }

    .top-slider__header {
        margin: -5px 0 0;
    }

    .top-slider .limit-box {
        justify-content: space-between;
        height: 100%;
        margin-top: 67px;
        padding: 0 31px 0 40px;
        -ms-flex-pack: justify;
    }

    .top-slider__iPhone {
        display: block;
    }

    .top-slider__iPhone-img {
        height: 304px;
        margin-top: 42px;
    }

    .top-slider__iPhone-link {
        position: absolute;
        top: 149px;
        right: 43px;
        z-index: 5;
    }

    .top-slider__iPhone-link:before {
        display: block;
        width: 56px;
        height: 56px;
        background: url('../img/sprite.svg') -99px -40px;
        background-size: 159px;
        content: '';
    }

    .top-slider__iPhone-link:hover:before {
        background-position: -34px -40px;
    }

    .top-slider__arrows {
        top: 1px;
    }

    /* Articles */

    .articles {
        padding: 77px 7px 48px 62px;
    }

    .articles__div_item3 {
        margin-top: 3px;
    }

    /* Blog */

    .blog-box .radio {
        margin-left: -8px;
    }

    .blog-testimonials {
        margin-bottom: 24px;
        padding: 27px 12px 33px 35px;
    }

    .blog-testimonials__h3 {
        margin: 0 0 14px 4px;
        font-size: 30px;
    }

    .blog-testimonials__span {
        letter-spacing: -.4px;
    }

    .blog-box .blog-testimonials__p {
        width: 97%;
    }

    .blog-recent {
        margin-left: 14.6%;
    }

    .blog-recent__a {
        margin-left: 0;
    }

    .blog-recent .blog-testimonials__p {
        width: 84%;
        letter-spacing: -.1px;
    }

    .blog-recent__header_3 {
        margin-top: -2px;
        padding-top: 0;
    }

    .blog-recent__header_1:before {
        background-position: -31px -12px;
    }

    .blog-recent__header_2:before {
        background-position: -31px -80px;
    }

    .blog-recent__header_3:before {
        background-position: -34px -91px;
    }

    .blog-recent__li {
        margin-bottom: 21px;
    }

    .blog-recent__a {
        width: auto;
        letter-spacing: .7px;
    }

    .blog-recent__more {
        margin: -1px 34px 0 0;
    }

    /* Manufactorers */

    .manufacturers {
        padding: 35px 25px 14px 35px;
        background: #f9f9f9;
    }

    .manufacturers__li {
        flex-basis: 32.136%;
        margin-bottom: -2px;
        -ms-flex-preferred-size: 32.136%;
    }

    /* News categories */

    .news-categories {
        display: block;
        padding: 80px 0 31px;
    }

    .news-categories__block:nth-child(3) {
        padding-top: 3px;
    }

    .news-categories__h3 {
        margin: 0 0 9px -2px;
        letter-spacing: -.2px;
    }

    .news-categories__p {
        height: 96px;
        margin-left: -2px;
        letter-spacing: -.1px;
        line-height: 24px;
    }

    /* Footer */

    .footer {
        padding: 47px 0 149px;
    }

    .footer-nav {
        display: block;
        margin-bottom: 37px;
    }
}

@media(min-width: 768px) {
    .blog .limit-box,
    .articles .limit-box {
        flex-direction: row;
        -ms-flex-direction: row;
    }

    /* Top */

    .top {
        padding-bottom: 100px;
    }

    .top .radio {
        align-self: flex-end;
        padding-right: 16.6%;
        -ms-flex-item-align: end;
    }

    .top-nav {
        display: none;
    }

    .top__h3 {
        align-self: flex-start;
        padding-bottom: 22px;
        -ms-flex-item-align: start;
    }

    .top-footer {
        display: block;
        width: 632px;
        font-size: 24px;
        letter-spacing: -.1px;
    }

    .top-footer-nav-menu__li {
        line-height: 36px;
    }

    .top-slider {
        height: 400px;
        margin: 71px 0 37px 0;
    }

    .top-slider .limit-box {
        padding: 0 47px 0 43px;
    }

    .top-slider__header {
        position: relative;
        top: -7px;
        height: 184px;
    }

    .top-slider__h3 {
        font-size: 48px;
        letter-spacing: -.7px;
    }

    .top-slider__p {
        position: relative;
        top: 10px;
        width: 268px;
        height: 24px;
        font-size: 24px;
        letter-spacing: -.3px;
    }

    .top-slider__text {
        display: block;
        position: relative;
        top: 17px;
        width: 300px;
        height: 105px;
        font-family: 'OpenSansLight', sans-serif;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 26px;
    }

    .top-slider__iPhone-img {
        height: 100%;
        margin-top: -9px;
    }

    .top-slider__iPhone {
        position: relative;
    }

    .top-slider__iPhone-link {
        top: 139px;
        right: 61px;
    }

    .top-slider__iPhone-link:before {
        width: 76px;
        height: 76px;
        background-position: -140px -55px;
        background-size: 226px;
    }

    .top-slider__iPhone-link:hover:before {
        background-position: -47px -55px;
    }

    .blick:after {
        position: absolute;
        top: 28px;
        left: 112px;
        width: 42px;
        height: 42px;
        background: url('../img/blick.png');
        content: '';
    }

    .top-slider__arrows {
        top: 0;
    }

    /* Articles */

    .articles {
        padding: 28px 0 35px 62px;
    }

    .articles__a {
        padding: 5px 7px 0 0;
    }

    .articles__div {
        flex-basis: 153px;
        height: 170px;
        margin-top: 49px;
        line-height: 24px;
        -ms-flex-preferred-size: 153px;
        -ms-flex-preferred-size: 152px;
    }

    /* Blog */

    .blog {
        padding: 98px 0 76px;
    }

    .blog-box {
        width: 56.22%;
    }

    .blog-box .blog-testimonials__p {
        width: 94%;
        max-height: 144px;
        margin: -6px 0 0;
    }

    .blog-box .radio {
        margin-left: 0;
    }

    .blog-recent {
        margin: 30px 0 0 57px;
    }

    .blog-recent .blog-testimonials__p {
        width: 97%;
    }

    .blog-recent__header_1:before {
        background-position: -49px -99px;
    }

    .blog-recent__header_2:before {
        background-position: -60px 0;
    }

    .blog-recent__header_3:before {
        background-position: -60px -65px;
    }

    .blog-recent__more {
        position: static;
        margin: 0 6px 0 0;
    }

    .blog-testimonials {
        padding: 30px 12px 43px 37px;
    }

    .blog-testimonials__h3 {
        width: 49%;
        margin: 0 0 14px 1px;
        margin-bottom: 8px;
        font-size: 24px;
    }

    /* Manufactureres */

    .manufacturers {
        margin-left: -5px;
        padding: 25px 0 0 0;
    }

    .manufacturers .limit-box {
        padding: 0;
    }

    .manufacturers__li {
        flex-basis: 16.136%;
        margin-bottom: 0;
        -ms-flex-preferred-size: 16.136%;
    }

    /* News-categories */

    .news-categories {
        padding: 102px 0 38px;
    }

    .news-categories .limit-box {
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }

    .news-categories__block {
        flex-basis: 27.02%;
        -ms-flex-preferred-size: 28.02%;
    }

    .news-categories__p {
        height: 168px;
        line-height: 24px;
    }

    .news-categories__block:nth-child(3) {
        padding-top: 0;
    }

    /* Footer */

    .footer .limit-box {
        flex-direction: row;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -ms-flex-direction: row;
    }

    .footer-nav {
        flex-basis: 527px;
        margin-bottom: 48px;
        -ms-flex-preferred-size: 527px;
        -ms-flex-preferred-size: 594px;
    }

    .footer__p {
        align-self: flex-end;
        letter-spacing: -.1px;
        -ms-flex-item-align: end;
    }

    .footer__span {
        letter-spacing: .6px;
    }
}

@media(min-width: 960px) {
    /* Block limit */

    .limit-box {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }

    /* Top */

    .top {
        padding-bottom: 107px;
    }

    .top .limit-box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        font-size: 60px;
        -ms-flex-wrap: wrap;
        -ms-flex-pack: justify;
        -ms-flex-direction: row;
    }

    .top__h3 {
        padding-left: 0;
    }

    .top-slider {
        width: 100%;
        margin: 140px 0 45px 0;
    }

    .top-slider__header {
        top: 14px;
        width: 500px;
        height: 252px;
    }

    .top-slider__h3 {
        font-size: 60px;
    }

    .top-slider__p {
        top: 8px;
        width: auto;
        height: 32px;
        font-size: 32px;
        letter-spacing: -.1px;
    }

    .top-slider__text {
        top: 13px;
        width: 515px;
        height: 180px;
        font-size: 18px;
        line-height: 24px;
    }

    .top-slider__iPhone-img {
        padding: 20px 70px 0 0;
    }

    .top-slider__iPhone-link {
        top: 160px;
        right: 131px;
    }

    .blick:after {
        display: none;
    }

    .top .radio {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        top: 48px;
        justify-content: flex-end;
        width: 100%;
        padding-right: 17.1%;
        font-size: 16px;
        -ms-flex-pack: end;
    }

    /* Articles */

    .articles {
        padding: 28px 0 48px 62px;
    }

    .articles .limit-box {
        padding: 3px 27px 0 33px;
    }

    .articles__div_item1:before {
        top: 4px;
        left: -53px;
        background-position: -7px -13px;
    }

    .articles__div_item2:before {
        left: -53px;
        background-position: -89px -14px;
    }

    .articles__div_item3:before {
        top: 5px;
        left: -50px;
        background-position: -51px -14px;
    }

    .articles__h3 {
        font-size: 30px;
    }

    .articles__p {
        padding-top: 10px;
        line-height: 24px;
    }

    .articles__a {
        padding: 18px 7px 0 0;
    }

    .articles__div {
        flex-basis: 227px;
        height: 153px;
        line-height: 25px;
        -ms-flex-preferred-size: 227px;
    }

    .articles__div:nth-child(1) .articles__a {
        padding: 17px 14px 0 0;
    }

    /* Blog */

    .blog-box {
        width: 53.02%;
        margin-left: 22px;
    }

    .blog-recent {
        width: 534px;
        margin: 30px 0 0 61px;
    }

    .blog-recent__li {
        margin-bottom: 20px;
    }

    .blog-recent__header_1:before {
        background-position: -176px -29px;
    }

    .blog-recent__header_2:before {
        background-position: -157px -91px;
    }

    .blog-recent__header_3:before {
        background-position: -90px -109px;
    }

    .blog-recent__more {
        display: none;
    }

    .blog-recent__more_960 {
        display: block;
        top: 5px;
        left: -22px;
        float: right;
        letter-spacing: -.2px;
    }

    .blog-testimonials {
        padding: 30px 12px 61px 40px;
    }

    .blog-testimonials:after {
        position: absolute;
        right: 39px;
        bottom: -19px;
        width: 20px;
        height: 19px;
        background: url('../img/flag.png');
        content: '';
    }


    .blog-testimonials__h3 {
        width: auto;
        font-size: 30px;
        letter-spacing: -.2px;
    }

    .blog-box .blog-testimonials__p {
        margin-left: 0;
    }

    .blog-box .radio {
        margin-left: 3px;
    }

    /* News categories */

    .news-categories__block:nth-child(1) > .news-categories__p {
        height: 120px;
    }

    .news-categories__pingbuller {
        margin-top: -2px;
        color: #454545;
        font-size: 48px;
        letter-spacing: -.8px;
    }

    .news-categories__span {
        color: #b9b9b9;
    }

    .news-categories__copyright {
        margin: 13px 0 10px;
        color: #c5c5c5;
        font-family: Georgia, serif;
        font-size: 16px;
        font-style: italic;
        letter-spacing: -.2px;
    }

    .news-categories__pingbuller,
    .news-categories__copyright,
    .news-categories__recent {
        display: block;
    }

    .news-categories__h3.hidden {
        display: none;
    }

    /* Manufacturers */

    .manufacturers__ul {
        padding: 0 63px;
    }

    /* News categories */

    .news-categories {
        padding: 98px 0 38px;
    }

    .news-categories__block {
        flex-basis: 29.3%;
        -ms-flex-preferred-size: 15%;
    }

    .news-categories__recent,
    .news-categories__h3 {
        margin-bottom: 7px;
        font-size: 30px;
    }

    /* Footer */

    .footer-nav {
        margin-bottom: 0;
    }

    .footer .limit-box {
        flex-direction: row;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -ms-flex-direction: row;
    }

    .footer__p {
        align-self: center;
        margin-top: 5px;
        letter-spacing: 0;
        -ms-flex-item-align: center;
    }

    .footer__span {
        letter-spacing: .3px;
    }
}
