html,
body,
.wrapper {
    height: 100%;
    height: 2525px;
    font-family: 'LeagueGothicRegular', sans-serif;
}

body {
    color: #fff;
}

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
}

/* Top block */

.head-block {
    padding-top: 68px;
    background: url('../img/bg960.png') no-repeat;
    color: #fff;
}

.head-block__pingbuller {
    padding-bottom: 31px;
    font-size: 48px;
    text-align: center;
}

.head-block__pingbuller_text-shadow {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.head-block__pingbuller-er_fiolet-gradient {
    background: linear-gradient(#745083, #33263a);
    color: transparent;
    text-shadow: none;
    -webkit-background-clip: text;
}

.head-nav-ul__a_white-shadow,
.head-nav-ul__a_text-shadow-white-hover:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
}

.head-nav-ul__a {
    font-size: 24px;
}

.head-nav-ul__a_border-bottom:after {
    display: block;
    position: absolute;
    bottom: -3px;
    left: -6px;
    width: calc(100% + 12px);
    height: 2px;
    border-bottom: 2px solid #edbfff;
    content: '';
}

.head-slider__header {
    display: table;
    margin: 0 auto;
}

.head-slider__p {
    color: #edbfff;
}

/* Radio style */

.head-checkboxes__label {
    display: inline-block;
    position: relative;
    margin-right: 19px;
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

.head-checkboxes__label:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 11px;
    height: 11px;
    border: 3px solid rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .3) padding-box;
    content: '';
}

.head-checkboxes__label:before {
    border-radius: 8px;
}

.head-checkboxes__li {
    display: inline-block;
}

.head-checkboxes__ul {
    text-align: center;
}

input[type=radio]:checked + .head-checkboxes__label:before {
    background: linear-gradient(to bottom, #fdfdfd, #dedede) padding-box;
    content: '';
}

/* Info-block */

.info-block {
    padding: 28px 27px 69px 82px ;
    background: linear-gradient(to bottom, #765284, #36293d);
    box-shadow: inset 0 -1px 0 0 #f9f9f9,
    inset 0 -2px 0 0 #12191f,
    inset 0 -3px 0 0 #21333b;
}

.info-block-article {
    position: relative;
    margin-top: 45px;
}

.info-block-article:before {
    position: absolute;
    top: 2px;
    left: -49px;
    width: 24px;
    height: 25px;
    background: url('../img/wrench.png');
    content: '';
}

.info-block-article__h3 {
    font-size: 24px;
}

.info-block-article__p {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 16px;
    text-indent: 1px;
    padding-left: 1px;
}

.info-block-article__a {
    width: 100%;
    margin-top: 23px;
    text-align: right;
}

.info-block-article_text-shadow {
    text-shadow: 1px 1px 0 #0f1518;
}

/* Width 320px */

@media(max-width: 320px) {
    .head-block {
        height: 517px;
        border-bottom: 1px solid #36283c;
        background: url('../img/bg320.png') no-repeat;
    }

    .head-checkboxes {
        margin-top: 81px;
    }

    .head-nav-li {
        display: none;
    }

    .head-nav-li:first-child {
        display: block;
    }

    .head-slider {
        position: relative;
        top: 128px;
    }

    .slider-arrows__arrow_left {
        position: absolute;
        top: 10px;
        left: 0;
    }

    .slider-arrows__arrow_right {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .head-slider__h3 {
        font-size: 36px;
    }

    .head-slider__p {
        font-size: 18px;
    }
}
