body {
    background: #000 url('../img/bg-image.jpg') center no-repeat;
    background-size: contain;
    color: #e6e6e6;
    font-family: Tahoma, serif;
}

.wrapper {
    width: 960px;
    margin: 4px auto 0;
}

.container {
    width: 850px;
    margin: 0 auto;
}

/* Logo & Contacts*/

.logo {
    position: relative;
}

.contacts {
    position: absolute;
    top: 104px;
    right: 41px;
    font-size: 10px;
}

.phone {
    font-size: 8px;
}

/* Countries */

.countries li {
    display: inline-block;
    position: relative;
    margin: 0 5px 72px;
    font-size: 15px;
    text-align: center;
}

.countries figure {
    width: 261px;
    height: 178px;
    padding-bottom: 3px;
}

.countries li::before {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 270px;
    height: 185px;
    background: url('../img/border.png');
    content: '';
}

/* Footer */

footer p {
    margin-bottom: 33px;
    font-size: 10px;
    text-align: center;
}
