.wrapper {
    width: 650px;
    margin: 50px auto;
}

/* Border styles */

table {
    border: 11px solid #fff;
}

td {
    border: 10px solid black;
}

/* elements's background */

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

/* Elements size */

tr {
    height: 34.5px;
}

.first-row {
    height: 58px;
}

.first-blocks {
    width: 200px;
}

.second-blocks {
    width: 164px;
}
