.wrapper {
    width: 650px;
    margin: 50px auto;
}

/* Border styles */

.no-border {
    border-top: hidden;
    border-bottom: hidden;
    border-left: hidden;
    border-right-color: #fff;
}

.no-border-right {
    border-right-color: #fff;
}

td {
    border: 10px solid black;
}

tr:first-child {
    border-top: hidden;
}

/* elements's background */

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

/* Elements size */

tr {
    height: 34.5px;
}

.first-row {
    height: 53px;
}

.first-blocks {
    width: 130px;
}

.second-blocks {
    width: 200px;
}

.third-blocks {
    width: 164px;
}

/* Special border */

table:before {
    display: block;
    position: absolute;
    width: 16px;
    height: 570px;
    background: #fff;
    content: '';
}
