.test-header {
	text-align: center;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.test-header {
	margin-top: 25px;
}

.main__li {
	margin: 20px 0 20px 50px;
}

.main__checkbox {
	float: left;
}

.main__p {
	margin-left: 20px;
}

.review {
	display: block;
	margin: 0 auto;
}