.dflex {
    display: -ms-flexbox;
    display: flex;
}
.j-cont-sb {
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.j-cont-sa {
    justify-content: space-around;
    -ms-flex-pack: distribute;
}

.ai-center {
    align-items: center;
    -ms-grid-row-align: center;
    -ms-flex-align: center;
}

.as-center {
    align-self: center;
    -ms-flex-item-align: center;
}

.as-flex-end {
    align-self: flex-end;
    -ms-flex-item-align: end;
}

.fd-col {
    flex-direction: column;
    -ms-flex-direction: column;
}

.dflex-fdcol-aicenter {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}

.dflex-fdcol-jcsb {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-flex-direction: column;
}

.dflex-jccent {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
}

.dflex-fdcol-aife-jcsa {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.dflex-jccent-aicenter {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.dflex-jcsb {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.dflex-aicenter {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
}

.dflex-aicenter-jcsb {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
}

.dflex-jcsa {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -ms-flex-pack: distribute;
}

.dflex-fdcol-jcsa {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -ms-flex-pack: justify;
    -ms-flex-direction: column;
}

.dflex-fdcol {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.dflex-jcsb-ascenter {
    display: -ms-flexbox;
    display: flex;
    align-self: center;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-flex-item-align: center;
}

.dflex-jcsb-asfstart {
    display: -ms-flexbox;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-flex-item-align: start;
    -ms-flex-item-align: flex-start;
}

.dflex-fwnw-aicenter {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-wrap: nowrap;
}
