html,
body,
.wrapper {
    height: 100%;
}

/* Set checkbox styles*/

label:before {
    display: inline-block;
    position: absolute;
    content: '';
}

input[type=checkbox] {
    display: none;
}

label {
    position: relative;
}

input[type=checkbox]:checked + label:before {
    color: #000;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    content: '\2713';
}

/* Cancel standart select arrow view */

select {
    border: none;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    /*for WebKit*/
    font-size: 11px;
    text-indent: .01px;
    text-overflow: '';

    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none;
}

.wrapper,
.filters span {
    font-family: Arial, sans-serif;
}

/* Wrapper */

.wrapper {
    max-width: 911px;
    padding-top: 17px;
    outline: 1px solid red;
}

/* Top elements */

.main-header {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 21px;
}

.contact-box {
    color: #5e696d;
    font-size: 18px;
}

.contact-box img {
    margin-top: -1px;
    margin-right: 1.5px;
}

.login-inputs {
    height: 25px;
    margin: -6px 17px 0 16px;
    padding-left: 8.5px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #1f6787, #0c3357);
    font-size: 11px;
    box-shadow: 0 -5px 0 -4px rgba(32, 105, 136, .2),
    0 -4px 0 -3px rgba(32, 105, 136, .1),
    0 -3px 0 -2px rgba(32, 105, 136, .05),
    -3px 0 0 -2px rgba(23, 63, 98, .1),
    0 5px 0 -4px rgba(58, 83, 107, .2),
    0 4px 0 -3px rgba(58, 83, 107, .1),
    0 3px 0 -2px rgba(58, 83, 107, .05),
    1px 2px 5px 0 rgba(150, 150, 150, 1);
}

.login-inputs img {
    padding-right: 4px;
}

.login-inputs input {
    width: 112px;
    height: 14px;
    margin-top: -1px;
    border: none;
    box-shadow: inset 0 1px 0 0 rgba(155, 163, 161, .2),
    inset 0 -1px 0 0 rgba(155, 163, 161, .4),
    inset 1px 0 0 0 rgba(155, 163, 161, .2),
    inset -1px 0 0 0 rgba(155, 163, 161, .4),
    -2px 0 0 -1px rgba(155, 163, 161, .5),
    2px 0 0 -1px rgba(155, 163, 161, .5),
    0 2px 0 -1px rgba(155, 163, 161, .5),
    0 -2px 0 -1px rgba(155, 163, 161, .5),
    -1px 0 0 0 rgba(155, 163, 161, .4),
    1px 0 0 0 rgba(155, 163, 161, .4),
    0 1px 0 0 rgba(155, 163, 161, .4),
    0 -1px 0 0 rgba(155, 163, 161, .4),
    0 0 0 1px rgba(155, 163, 161, .2);
}
.login {
    margin-right: 6px;
}

.password {
    margin-right: 8px;
    letter-spacing: -.4px;
}

/* Placeholder styles */

.login-inputs ::-webkit-input-placeholder {
    position: relative;
    top: -1px;
    margin-bottom: 12px;
    padding-left: 4px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
}

.login-inputs ::-moz-placeholder {
    position: relative;
    top: -1px;
    padding-bottom: 5px;
    padding-left: 4px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
}/* Firefox 19+ */

.login-inputs :-moz-placeholder {
    position: relative;
    top: -1px;
    padding-bottom: 5px;
    padding-left: 4px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
}/* Firefox 18- */

.login-inputs :-ms-input-placeholder {
    position: relative;
    top: -1px;
    padding-bottom: 5px;
    padding-left: 4px;
    color: #97a2a6;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11px;
}

.login-inputs,
.navigation ul,
.left-column,
.center-column {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 12px;
}

.enter-form .remember {
    color: #bfbfbf;
    font-size: 12px;
}

.right-column .col-header {
    color: #0c3256;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin-top: 1px;
    font-size: 14px;
}

.enter-form a {
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.remember {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-left: 16px;
    letter-spacing: 0;
}

.remember:last-child:after {
    position: absolute;
    right: 9px;
    bottom: -2px;
    width: 94px;
    border-bottom: 1px solid rgba(223, 223, 223, .4);
    box-shadow: -1px 0 0 0 rgba(223, 223, 223, .2);
    content: '';
}

.enter {
    letter-spacing: 0;
}

.register {
    letter-spacing: -.2px;
}

.register::before {
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    margin-bottom: -2px;
    margin-left: -1px;
    border-right: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .1);
    content: '';
}

.mini-buttons {
    position: relative;
    width: 75px;
    height: 19px;
    margin-bottom: 8px;
    border: 1px solid #bdc4c7;
    border-radius: 15px;
    box-shadow: -2px -2px 10px -5px rgba(126, 140, 145, 1),
    2px 2px 10px -5px rgba(126, 140, 145, 1);
}

.home-icon,
.site-map-icon,
.letter-icon {
    position: absolute;
    top: 1px;
}

.home-icon {
    left: 8.5px;
}

.site-map-icon {
    left: 29px;
}

.letter-icon {
    left: 51.5px;
}

/* Banner */

.banner {
    margin: 0 0 3px -1px;
}

/* Navigation */

.navigation {
    position: relative;
    width: 910px;
    margin-bottom: 11px;
    margin-left: -1px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #485160 0px, #3a4046 4px, #2d3236 5px, #24282b 9px, #222529 10px, #010101 100%);
    line-height: 34px;
    box-shadow: 0 -3px 0 -2px rgba(60, 67, 103, 1),
    inset 3px 0 0 -2px rgba(13, 22, 66, .5);
}

.navigation a {
    color: #b1bcc0;
    text-decoration: none;
}

.navigation a:hover {
    color: #fff;
}

.nav-list {
    padding-left: 131px;
}

ul.nav-list {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-list li {
    margin: 0 auto;
    float: left;
    border-radius: 15px;
    letter-spacing: -.2px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

.nav-list li:hover {
    background-image: linear-gradient(to bottom, #1f6787, #0c3357);
}

.nav-list > li:nth-child(1) a {
    padding: 1px 14px 0 14.5px;
}

.nav-list > li:nth-child(2) a {
    padding: 1px 21px 0 21px;
}

.nav-list > li:nth-child(3) a {
    padding: 1px 9px 0 9px;
}

.nav-list > li:nth-child(4) a {
    padding: 1px 21px 0 21px;
}

.nav-list > li:nth-child(5) a {
    padding: 1px 4px 0 4px;
}

.nav-list a {
    display: block;
}

.values {
    position: relative;
    right: 15px;
    color: #929b9f;
    font-size: 11px;
}

.values * {
    display: inline-block;
}

.values span {
    color: #0d5a8f;
    font-size: 12px;
}

.basket img {
    position: absolute;
    top: 8px;
    left: -25px;
}

.goods {
    margin-top: -5px;
    letter-spacing: .5px;
}

.goods span {
    margin-left: 2px;
}

.amount {
    margin-left: 11px;
}

.amount span {
    margin-left: 10px;
}

/* Filters */

.filter-search-button a {
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
}

.filter-search-button {
    position: relative;
}

.filter-search-button::after {
    position: absolute;
    right: -1px;
    bottom: 0;
    width: 51px;
    border-bottom: 2px solid rgba(21, 68, 103, .4);
    box-shadow: -1px 0 0 0 rgba(21, 68, 103, .3);
    content: '';
    z-index: -1;
}

.filters {
    width: 100%;
    height: 136px;
    margin-bottom: 16px;
}

.filters section {
    border: 1px solid #b0b0b1;
    border-radius: 17px;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .45);
}

.filter-header {
    margin-bottom: 6px;
}

.filter-header * {
    display: inline-block;
}

.filter-header p {
    padding-top: 3px;
    color: #154468;
    font-size: 10px;
    font-weight: 800;
}

.filter-bus-space {
    margin-top: -2px;
}

.search-auto .filter-header p {
    flex-basis: 46px;
    padding: 2px 0 0 4px;
    letter-spacing: .2px;
    -ms-flex-preferred-size: 46px;
    -ms-flex-preferred-size: 46px;
}

.search-auto .filter-header h3 {
    flex-basis: 168px;
    letter-spacing: .4px;
    -ms-flex-preferred-size: 168px;
    -ms-flex-preferred-size: 168px;
}

.search-auto .filter-ul-1 {
    flex-basis: 71px;
    height: 71px;
    margin-top: -5px;
    margin-right: -23px;
    -ms-flex-preferred-size: 71px;
}

.search-auto .filter-ul-1 li {
    margin-bottom: 4px;
}

.search-auto .filter-ul-2 li {
    margin-bottom: 5px;
}

.search-auto .filter-ul-2 {
    flex-basis: 102px;
    -ms-flex-preferred-size: 102px;
}

.search-auto select {
    width: 102px;
    height: 17px;
}

.search-auto .select-1 {
    width: 58px;
}

.search-auto {
    flex-basis: 384px;
    margin-right: 3px;
    margin-left: -2px;
    padding: 2px 13px 8px 17px;
    -ms-flex-preferred-size: 384px;
}

.search-auto .filter-header {
    width: 100%;
}

.filter-item {
    color: #77858b;
    font-size: 8px;
    letter-spacing: 1px;
}

.filter-ul-2 select,
.search-disk select,
.size1 {
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, .45),
    -9px 8px 0 -8px rgba(0, 0, 0, .45),
    inset 1px 1px 2px 0 rgba(0, 0, 0, .45);
}

.size2 {
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, .4),
    inset -1px -1px 3px 0 rgba(0, 0, 0, .2);
}

.sizes p {
    align-self: flex-end;
    -ms-flex-item-align: end;
}

.search-wheel-form {
    padding: 2px 0 0 3px;
}

.search-wheel {
    flex-basis: 163px;
    padding: 3px 18px 30px 9px;
    -ms-flex-preferred-size: 163px;
    -ms-flex-preferred-size: 167px;
    -ms-flex-preferred-size: 164px;
}

.search-wheel select {
    width: 51px;
    height: 17px;
}

.seasons {
    max-width: 95px;
    margin-top: 5px;
    color: #000;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.seasons p,
.sizes p {
    font-size: 10px;
}

.seasons li {
    margin-bottom: 0;
    font-size: 12px;
}

.seasons label:before {
    bottom: 4px;
    left: -13px;
    width: 11px;
    height: 10px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .6),
    inset 1px 0 2px 0 rgba(0, 0, 0, .4);
}

.slesh {
    font-size: 14px;
}

.seasons-ul {
    height: 41px;
}

.r span {
    font-size: 11px;
}

.r {
    width: 59px;
    margin-top: 7px;
    margin-left: 31px;
}

.r select {
    width: 45px;
}

.search-disk {
    flex-basis: 266px;
    padding: 6px 17px 8px 8px;
    -ms-flex-preferred-size: 266px;
}

.search-disk select {
    width: 58px;
}

.search-disk .search-disk-personal {
    width: 51px;
}

.diameter-val form {
    height: 100%;
}

.dco {
    position: relative;
}

.dco:before {
    position: absolute;
    top: -3px;
    left: -10px;
    height: 106px;
    border-left: 1px solid #bdc6ca;
    content: '';
}

.dco p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 9px;
}

.diameter {
    width: 85px;
}

.diameter-val {
    width: 58px;
}

.diamter-dco {
    width: 64px;
    height: 100%;
}

.disk-box {
    width: 149px;
}

section a {
    color: #154467;
    font-size: 14px;
    font-style: italic;
}

section h3 {
    color: #154467;
    font-size: 12px;
    font-weight: 800;
}

section ul li {
    font-size: 10px;
}

/* LR column properties */

.left-column .list-header {
	border: 1px solid #79878d;
	border-radius: 11px;
	font-size: 14px;
}

.left-col-items {
	width: 150px;
	padding-top: 13px;
}

.col-header {
	width: 179px;
	border: 1px solid rgba(121, 135, 141, .5);
	border-radius: 15px;
	height: 25px;
}

/* Left column */

.left-column .col-header {
	margin: 3px 0 0 2px;
}

.left-column ul {
    height: 100px;
}

.left-column ul li {
	position: relative;
	top: 4px;
}

.left-column ul li:before {
	background-image: url('../img/leftColItem.png');
	content:'';
	height: 8px;
	width: 8px;
	display: inline-block;
}

.left-column h1,
.left-column p,
.right-column h1,
.right-column p {
    text-transform: uppercase;
}

.left-column h1,
.left-column p {
    color: #114165;
}

.left-column a:hover:after {
	position: absolute;
	bottom: -2px;
	left: 8px;
	width: 113px;
	border-bottom: 2px solid rgba(12, 50, 86, .8 );
	box-shadow: -1px 0 0 0 rgba(12, 50, 86, .4),
	1px 0 0 0 rgba(12, 50, 86, .4);
	content: '';
}

.left-column a {
    color: #465961;
    text-decoration: none;
    font-size: 13px;
    height: 100%;
    display: inline-block;
}

.left-column a:hover {
    color: #0c3256;
    font-style: italic;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/* Center column */

.center-column {
    height: 100%;
    -ms-flex-preferred-size: 526px;
        flex-basis: 526px;
    border-radius: 2px;
    background-color: #a6b6bd;
}

.row-wheel {
	padding: 14px 17px 19px 4px;
}

.wheel-image {
	width: 136px;
	height: 126px;
	border-radius: 8px;
	background: #fff;
}

.wheel-image img {
	display: block;
	margin: auto;
}

.wheel-item a {
    color: #206988;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.wheel-item p {
    color: #1f2528;
    font-size: 13px;
}

.wheel-item span {
    color: #114165;
    font-size: 16px;
    font-weight: 600;
}

/* Right column */

.right-column h1,
.right-column p {
    color: #0c3256;
}

.right-column li {
    color: #465961;
    font-size: 13px;
}

.right-col-items {
	width: 136px;
	padding-top: 14px;
}

.right-column .list-header {
	border: 1px solid #79878d;
	border-radius: 11px;
	font-size: 14px;
	height: 26px;
}



/* Brand */

.brand {
    width: 676px;
}

/* Footer */

.footer ul {
    width: 296px;
}

.footer a {
    color: #bec6c9;
    text-decoration: none;
}

.footer a:hover {
    color: #52abcb;
}

.footer p {
    color: #7f4740;
    font-size: 12px;
}

/* Left and Right columns h1 list styles */

.fa1.fa.fa-circle {
    max-width: 24px;
    max-height: 24px;
    color: #114165;
    font-size: 26px;
    padding-left: 4px;
}

.fa2.fa.fa-circle {
    position: absolute;
    max-height: 14px;
    color: #fff;
    font-size: 14px;
}
