@font-face {
    font-family: 'helveticaneuecyrlight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/helveticaneue-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-light-webfont.woff') format('woff');
}
