body {
    height: 1060px;
    background: url('../img/bg.jpg') 0 36px no-repeat;
    background-size: cover;
    font-family: 'helveticaneuecyrlight', Arial, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: inherit;
}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    content: '.';
    visibility: hidden;
}

/* Navigation */

nav {
    display: flex;
    align-self: baseline;
    justify-content: flex-end;
    width: 100%;
    background: #085393;
    line-height: 36px;
}

nav ul {
    display: flex;
    width: 731px;
    padding-right: 20px;
    text-align: center;
}

nav ul li:hover {
    background: #4eabda;
    color: #fff;
}

nav ul li a {
    padding: 0 10px;
}

nav a {
    display: inline-block;
    color: #60b5ed;
}

nav a:hover {
    color: #fff;
}

.li-minhas,
.li-ola,
.li-minhas a,
.li-ola a {
    color: #fff;
}

.li-minhas {
    -webkit-box-shadow: -3px 0 0 -2px #56a2dc;
    box-shadow: -3px 0 0 -2px #56a2dc;
}

.li-minhas img {
    padding-right: 8px;
    vertical-align: middle;
}

.li-ola {
    padding: 0 10px;
    background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
    -webkit-box-shadow: -1px -1px 0 0 #56a2dc,
    1px -1px 0 0 #4299d2,
    inset 0 -1px 0 0 #469bd4;
    box-shadow: -1px -1px 0 0 #56a2dc,
    1px -1px 0 0 #4299d2,
    inset 0 -1px 0 0 #469bd4;
}

.li-ola a {
    padding: 0;
    text-decoration: underline;
}

@media all and (max-width: 780px) {
    nav ul {
        flex-direction: column;
        padding-right: 0;
    }
    nav ul li {
        margin: auto;
    }
    .li-minhas {
        width: 160px;
        border: 0;
    }
}

/* Main block with form */

main {
    flex-basis: 560px;
}

main *:focus {
    outline: none; /* Clear outline in elements that focused */
}

main button:hover,
.send-me-block input:hover {
    cursor: pointer;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 549px;
    padding: 26px 0 5px;
    color: #ccc;
}

.cadastre {
    color: #fff;
    font-size: 24px;
    line-height: 62px;
}

.cadastre,
.input-form {
    background: rgba(0, 0, 0, .63);
    text-align: center;
}

/* Seperate line between cadastre block and input form block */

.seperate {
    height: 2px;
    border: 0;
    background: transparent;
    color: transparent;
}

.input-form input {
    width: 276px;
    height: 35px;
    padding-left: 19px;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #494948;
    background: #100f0f;
    color: #fffbfb;
}

.input-form input:focus {
    border: 1px solid #4984ac;
    background: #1b5288;
    -webkit-box-shadow: 0 0 5px 2px #5189b4;
    box-shadow: 0 0 5px 2px #5189b4;
}

/* Placeholder styles */

.input-form ::-webkit-input-placeholder {
    color: #ccc;
}

.input-form ::-moz-placeholder {
    color: #ccc;
}/* Firefox 19+ */

.input-form :-moz-placeholder {
    color: #ccc;
}/* Firefox 18- */

.input-form :-ms-input-placeholder {
    color: #ccc;
}

/* Facebook button styles */

.fb-button {
    position: relative;
    width: 274px;
    padding-left: 21px;
    border: none;
    border-top: 1px solid #7889b7;
    border-radius: 2px;
    background: linear-gradient(to bottom, #3e5694, #304272);
    color: #fff;
    font-size: 16px;
    line-height: 31px;
    -webkit-box-shadow: 1px 0 0 0 rgba(62, 80, 126, .5),
    -1px 0 0 0 rgba(62, 80, 126, .5),
    0 1px 0 0 rgba(62, 80, 126, .5);
    box-shadow: 1px 0 0 0 rgba(62, 80, 126, .5),
    -1px 0 0 0 rgba(62, 80, 126, .5),
    0 1px 0 0 rgba(62, 80, 126, .5);
}

.fb-button::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 36px;
    height: 31px;
    padding-top: 4px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    -webkit-box-shadow: 1px 0 0 0 rgba(31, 61, 113, .5),
    2px 0 0 0 #4d66a6;
    box-shadow: 1px 0 0 0 rgba(31, 61, 113, .5),
    2px 0 0 0 #4d66a6;
    content: 'f';
}

.fb-button i {
    position: absolute;
    top: 11px;
    right: 22px;
    font-size: 12px;
}

/* OU block */

.ou {
    display: flex;
    align-items: center;
    width: 288px;
    color: #999;
}
.ou hr {
    width: 100%;
    height: 1px;
    margin: 0 6px;
    border: 1px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
}

/* Checkbox with label */

.send-me-block {
    width: 295px;
    text-align: left;
}

.send-me-block input {
    width: auto;
    height: auto;
    margin: 0;
    vertical-align: middle;
}

.send-me-block input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.send-me-block label {
    padding-left: 8px;
    vertical-align: middle;
}

/* Create account button */

.account-button {
    width: 149px;
    height: 32px;
    border: 1px solid;
    border-top: 0;
    border-bottom: 0;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #50aedb, #2e7ac4);
    color: #fff;
    -webkit-box-shadow: 0 -1px 0 0 #67c6e6,
    0 -2px 0 0 #6bb8e7,
    0 -3px 0 0 rgba(52, 86, 117, .3),
    0 1px 0 0 #3686ca,
    0 2px 0 0 rgba(67, 153, 210, .3);
    box-shadow: 0 -1px 0 0 #67c6e6,
    0 -2px 0 0 #6bb8e7,
    0 -3px 0 0 rgba(52, 86, 117, .3),
    0 1px 0 0 #3686ca,
    0 2px 0 0 rgba(67, 153, 210, .3);
    border-image: linear-gradient(to bottom, #62a7e1, #4399d1) 1 100%;
}

/* Bottom text */

.bottom-text {
    max-width: 310px;
    font-size: 11px;
    line-height: 17px;
}
